* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: inter, Arial, sans-serif;
  line-height: 1;
  color: #343a40;
}

.accordion-section {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: 100px auto;
  width: 700px;
}

.accordion-item {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  column-gap: 24px;
  row-gap: 32px;
  padding: 24px;
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.1);
}

.accordion-item:hover {
  cursor: pointer;
}

.accordion-item-number,
.accordion-item-title {
  font-size: 24px;
  font-weight: 500;
  color: #087f5b;
}

.accordion-item-title:hover {
  color: #087f5b;
}

.pointer-icon {
  width: 24px;
  stroke: #087f5b;
}

.accordion-info-text {
  grid-column: 2;
}

.accordion-info-text p {
  line-height: 1.6;
  margin-bottom: 24px;
}

.accordion-info-text ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-left: 20px;
  color: #868e96;
}

/* CLOSE and OPEN STATE */
.close-item {
  display: none;
}

.close-item-color {
  color: #ced4da;
  stroke: #ced4da;
}

.open-item {
  border-top: 4px solid #087f5b;
}
